//! **************************************************************************
// Written by: Map P.20131013 on Thu Jul 20 21:34:22 2017
//! **************************************************************************

SCHEMATIC START;
COMP "RGZ<0>" LOCATE = SITE "P46" LEVEL 1;
COMP "OPT<0>" LOCATE = SITE "P68" LEVEL 1;
COMP "RGZ<1>" LOCATE = SITE "P47" LEVEL 1;
COMP "RGA<0>" LOCATE = SITE "P63" LEVEL 1;
COMP "OPT<1>" LOCATE = SITE "P64" LEVEL 1;
COMP "RGZ<2>" LOCATE = SITE "P48" LEVEL 1;
COMP "RGA<1>" LOCATE = SITE "P60" LEVEL 1;
COMP "RGZ<3>" LOCATE = SITE "P49" LEVEL 1;
COMP "RGA<2>" LOCATE = SITE "P59" LEVEL 1;
COMP "RGZ<4>" LOCATE = SITE "P50" LEVEL 1;
COMP "RGZ<5>" LOCATE = SITE "P51" LEVEL 1;
COMP "RGB<0>" LOCATE = SITE "P58" LEVEL 1;
COMP "RGZ<6>" LOCATE = SITE "P54" LEVEL 1;
COMP "RGZ<7>" LOCATE = SITE "P55" LEVEL 1;
COMP "KEY<0>" LOCATE = SITE "P70" LEVEL 1;
COMP "KEY<1>" LOCATE = SITE "P69" LEVEL 1;
COMP "RST" LOCATE = SITE "P79" LEVEL 1;
COMP "CLK" LOCATE = SITE "P80" LEVEL 1;
PIN CLK_pin<0> = BEL "CLK" PINNAME PAD;
PIN "CLK_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
SCHEMATIC END;

